
__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/
.Python

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log
*.cover
coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/

*.db
*.sqlite3

*.egg
*.egg-info/
dist/
build/
.eggs/

*.env
.env.*

*.pid
*.pid.lock


dump.rdb
